.Uns-paragraphs {
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: 1em;
}

.Uns-paragraphsV2 {
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: 1em;
}

.Uns-list-text {
    color: white;
    margin-left: 1em;
    font-family: 'Hind Siliguri', sans-serif;
}